@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --accent:#347deb;
    --black:#333;
    --white:#fff;
    --light-bg:#f5f5f5;
    --light-color:#666;
    --border:0.1rem solid var(--accent);
    --box-shadow:0 var(--50) var(--100) rgba(0,0,0,.1);
    /* margins */
    --25: 0.25rem;
    --50: 0.5rem;
    --75: 0.75rem;
    --100: 1rem;
    --125: 1.25rem;
    --150: 1.5rem;
    --175: 1.75rem
}


/* MISC */

*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: Poppins, Tahoma, Geneva, Verdana, sans-serif;
    transition: .2s linear; 
    border: none
}

*{
    cursor: url(../public/media/cursor_1.png), auto
}

::-webkit-scrollbar{
    width: var(--25);
    height: var(--25)
}

::-webkit-scrollbar-track{
    background-color: transparent
}

::-webkit-scrollbar-thumb{
    background-color: var(--accent)
}

html{
    font-size: 1.75em;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7.5rem
}

body{
    background: var(--light-bg);
    overflow-x: hidden
}

/* Pre loader */

#preloader{
    background-color:var(--light-bg);
    position: fixed;
    display: flex;
    height: 100vh;width: 100%;
    z-index: 999999999
}

#preloader::before{
    content: '';
    background:url(../public/media/pizza/preloader.png) no-repeat center center;
    position: fixed;
    width: 100%;height: 100vh;
    background-size: 5rem;
    animation-name: preloader;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 9999999999
} 

@keyframes preloader{
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg)
    }
}


/* Navbar start */
/* Header */

section{
    padding:var(--50);
    margin:0 auto;
    max-width: 1200px
}

.header{
    position: fixed;
    top:0; left:0; right:0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 100000
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative
}

.header .flex .logo {
    font-size: var(--125);
    display: flex;
    align-items: center;
    user-select: none;
    color: var(--black)
}

.header .flex .logo img {
    width: var(--150);height: auto;

}

.header .flex .navbar a{
    margin: 0 var(--50);
    font-size: var(--75);
    user-select: none;
    color: var(--black)
}

.header .flex .navbar a:hover {
    text-decoration: underline;
    color:var(--accent)
}

.header .flex .icons div {
    font-size: var(--125);
    color: var(--light-color);
    user-select: none;
    margin-left: 0rem
}

.header .flex .icons div:hover {
    color: var(--accent)
}

.header .flex .icons div span {
    font-size: var(--50)
}

#menu-btn{
    display: none
}

/* theme */
#theme{
    font-size: var(--125);
    user-select: none;
    color: var(--light-color)
}

.dark-theme{
    --black:#ebebeb;
    --white:#2c2c2c;
    --light-bg:#363636;
    --light-color:#fff
}

#theme:hover{
    color: var(--accent)
}


/* User account | Login | Register */

.user-account{
    position: fixed;
    top: 0;right:-200%;
    width: 100%;
    z-index: 110000;
    background-color: var(--white);
    height: 100vh;
    overflow-y: scroll
}

.user-account.active{
    right:0%
}

.user-account #close-account{
    text-align: right;
    user-select: none;
    margin-bottom: var(--100)
}

.user-account #close-account span.material-icons {
    font-size: var(--150);
    color: var(--accent)
}

.user-account #close-account span.material-icons:hover{
    color: var(--black)
}

.user-account .user {
    padding-left: var(--100);
    text-align: center;
    background-color: var(--light-bg);
    border-radius: var(--25)
}

.user-account .user p{
    font-size: var(--100);
    color: var(--black)
}

.user-account .user p span{
    color:var(--accent)
    
}

.user-account .display-orders{
    padding: var(--100) var(--50);
    text-align: center;
    background-color: var(--light-bg);
    border-radius: var(--25);
    margin: var(--25) 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: var(--25);
    flex-wrap: wrap
}

.user-account .display-orders p{
    padding: var(--25) var(--50);
    font-size: var(--50);
    color: var(--light-color);
    background-color: var(--white);
    border-radius: var(--25);
    box-shadow: var(--box-shadow)
}

.user-account .display-orders p span{
    color: var(--accent)
}

.user-account .flex{
    display: flex;
    flex-wrap: wrap;
    gap: var(--100);
    margin-top: var(--25)
}

.user-account .flex form{
    flex:1 1 15rem;
    border-radius: var(--25);
    padding:var(--100);
    background-color: var(--light-bg)
}

.user-account .flex form h3{
    font-size: var(--100);
    margin-bottom: var(--50);
    text-align: center;
    color:var(--black)
}

.user-account .flex form .box{
    width: 100%;
    margin:var(--25) 0;
    border-radius: var(--25);
    background-color: var(--white);
    padding:var(--50);
    font-size: var(--50);
    color:var(--black)
}

.btn{
    display: block;
    user-select: none;
    width: 100%;
    margin-top: var(--25);
    border-radius: var(--25);
    padding: var(--25) var(--100);
    color:var(--white);
    text-align: center;
    background-color:var(--accent)
}

.btn:hover{
    background-color:var(--black)
}


/* My orders */

.my-orders{
    position: fixed;
    top: 0;right:-200%;
    width: 30%;
    z-index: 110000;
    background-color: var(--light-bg);
    border-left: var(--border);
    height: 100vh;
    overflow-y: scroll
}

.my-orders.active{
    right: 0;
}

.my-orders #close-orders{
    text-align: right;
    user-select: none;
    margin-bottom: var(--25)
}

.my-orders #close-orders span.material-icons {
    font-size: var(--150);
    color: var(--accent)

}

.my-orders #close-orders span.material-icons:hover{
    color: var(--black)
}

.my-orders .title{
    text-align: center;
    color: var(--black);
    font-size: var(--100)
}

.my-orders .box{
    background-color: var(--white);
    border-radius: var(--25);
    padding:var(--25) var(--50);
    margin:var(--75) 0;
    box-shadow: var(--box-shadow)
}

.my-orders .box p{
    margin: var(--25) 0;
    font-size: var(--50);
    font-weight: bold;
    color:var(--light-color);
    line-height: 1.25
}

.my-orders .box p span{
    color: var(--black);
    font-weight: normal
}


/* Shopping cart  */

.shopping-cart{
    position: fixed;
    top: 0;right:-110%;
    width: 35%;
    z-index: 110000;
    background-color: var(--light-bg);
    border-left: var(--border);
    height: 100vh;
    overflow-y: scroll
}

.shopping-cart.active{
    right: 0
}

.shopping-cart #close-cart{
    text-align: right;
    user-select: none;
    margin-bottom: var(--25)
}

.shopping-cart #close-cart span.material-icons {
    font-size: var(--150);
    color: var(--accent)
}

.shopping-cart #close-cart span.material-icons:hover{
    color: var(--black)
}

.shopping-cart .box{
    display: flex;
    position: relative;
    align-items: center;
    border-radius: var(--25);
    box-shadow: var(--box-shadow);
    padding: var(--75);
    background-color:var(--white);
    margin: var(--75) 0;
    gap: var(--25)
}

.shopping-cart .box .material-icons{
    position: absolute;
    top: var(--25);right: var(--25);
    font-size: var(--75);
    user-select: none;
    color: var(--accent)
}

.shopping-cart .box .material-icons:hover{
    color: var(--black);
}

.shopping-cart .box img{
    user-select: none;
    width: 2.75rem
}

.shopping-cart .box .content p{
    font-size: var(--75);
    color: var(--light-color)
}

.shopping-cart .box .content p span{
    color: var(--accent)
}

.shopping-cart .box .content form{
    margin-top: var(--75);
    display: flex;
    gap: var(--50)
}

.shopping-cart .box .content form .qty{
    border: var(--border);
    border-radius: var(--25);
    padding: var(--25);
    font-size: var(--50);
    color: var(--black);
    background-color: var(--light-bg);
    width: calc(var(--150)*2)
}

.shopping-cart .box .content form .material-icons-outlined{
    width: var(--150);
    font-size: var(--100);
    border-radius: var(--25);
    color: var(--black);
    user-select: none;
    background-color: var(--light-bg)
}

.shopping-cart .box .content form .material-icons-outlined:hover{
    background-color: var(--black);
    color: var(--white)
}

.box img.indicator{
    display: block;
    position: absolute;
    top:var(--25);left:var(--25);
    user-select: none;
    width: var(--75);height: auto
}

/* Navbar End */

/* Home */

@keyframes fadeLeft{
    0%{
        transform: translateX(calc(var(--100)*5));
        opacity: 0
    }
}

@keyframes fadeRight{
    0%{
        transform: translateX(calc(var(--100)*-5));
        opacity: 0
    }
}

.home-bg{
    background:url(../public/media/home-background.png) no-repeat;
    background-size: cover;
    background-position: left
}

.home-bg .home .slide-container{
    margin-top: calc(var(--100)*6.99)
}

.home-bg .home .slide-container .slide{
    display: none;
    align-items: center;
    transform: translateY(-15%);
    gap:var(--75);
    flex-wrap: wrap
}

.home-bg .home .slide-container .slide.active{
    display: flex
}

.home-bg .home .slide-container .slide .image{
    flex:1 1 calc(var(--100)*10);
    animation: fadeRight .4s linear
}

.home-bg .home .slide-container .slide .image img{
    user-select: none;
    width: 100%
}

.home-bg .home .slide-container .slide .content{
    flex:1 1 20rem;
    text-align: center;
    animation: fadeLeft .4s linear
}

.home-bg .home .slide-container .slide .content h3{
    color:#fff;
    margin-bottom: var(--100);
    font-size: calc(var(--100)*3);
    text-shadow: var(--box-shadow);
    line-height: 1
}

.home-bg .home .slide-container .slide .content .material-symbols-outlined{
    height: auto;width: var(--175);
    user-select: none;
    line-height: calc(var(--100)*1.75);
    font-size: calc(var(--100)*2);
    color:var(--black);
    background-color: var(--white);
    margin:0 var(--25);
    box-shadow: var(--box-shadow);
    border-radius: 25%
}

.home-bg .home .slide-container .slide .content .material-symbols-outlined:hover{
    background-color: var(--accent);
    color:var(--white)
}


/* About us  */

.heading{
    text-align: center;
    margin-bottom: var(--100);
    font-size: var(--150);
    color: var(--black)
}

.about .box-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:var(--50);
    align-items: flex-start;
    justify-content: center
}

.about .box-container .box{
    background-color: var(--white);
    width: 13rem;height: 90vh;
    border-radius: var(--50);
    padding:var(--100);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center
}

.about .box-container .box h3{
    user-select: none;
    font-size: var(--125);
    color: var(--black)
}

.about .box-container .box .material-icons-outlined{
    font-size: 15vw;
    user-select: none;
    color: var(--accent)
}

.about .box-container .box p{
    padding: var(--50) 0;
    line-height: 1.2;
    font-size: var(--75);
    color: var(--light-color)
}








/* Media Queries */
@media (max-width: 991px) {
    html{
        font-size: 1.5em
    }
}

@media (max-width: 768px) {
    html{
        font-size: 1.25em
    }
    #menu-btn{
        display: inline-block
    }
    .header .flex .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%)
    }
    .header .flex .navbar.active{
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
    }
    .header .flex .navbar a{
        display: block;
        margin: var(--100)
    }
    .my-orders{
        width:50%
    }
    .shopping-cart{
        width:50%
    }
    .shopping-cart .box .content form .qty{
        width: calc(var(--175)*1.75)
    }
    .home-bg .home .slide-container .slide .content h3{
        font-size: calc(var(--100)*2)
    }
    .home-bg .home .slide-container .slide .image{
        flex:1 1 calc(var(--100)*8)
    }
    .home-bg .home .slide-container .slide .content{
        flex:1 1 calc(var(--100)*10)
    }
}

@media (max-width: 450px) {
    html{
        font-size: 1em
    }
    .my-orders{
        width: 100%;
        border-left: 0
    }
    .shopping-cart{
        width: 100%;
        border-left: 0
    }
    .home-bg .home .slide-container .slide .content h3{
        font-size: calc(var(--100)*2)
    }
    .home-bg .home .slide-container .slide{
        transform: translateY(-10%)
    }
    .about .box-container .box{
        width: 90vw
    }
    .about .box-container .box .material-icons-outlined{
        font-size: 30vw;
    }
    .about .box-container .box h3{
        font-size: calc(var(--125)*2);
    }
    .about .box-container .box p{
        font-size: var(--150);
    }
    .heading{
        font-size: calc(var(--150)*1.5);
    }
}

@media (max-width: 323px) {
    .home-bg .home .slide-container .slide{
        transform: translateY(-2%)
    }
}